<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homeDT ANY>
<!ATTLIST homeDT id ID #REQUIRED>
<!ELEMENT chiSiamo ANY>
<!ATTLIST chiSiamo id ID #REQUIRED>
<!ELEMENT menu ANY>
<!ATTLIST menu id ID #REQUIRED>
<!ELEMENT menuSingolo ANY>
<!ATTLIST menuSingolo id ID #REQUIRED>
<!ELEMENT eventoSingolo ANY>
<!ATTLIST eventoSingolo id ID #REQUIRED>
<!ELEMENT eventi ANY>
<!ATTLIST eventi id ID #REQUIRED>
<!ELEMENT leNostreSpecialita ANY>
<!ATTLIST leNostreSpecialita id ID #REQUIRED>
<!ELEMENT contattaci ANY>
<!ATTLIST contattaci id ID #REQUIRED>
<!ELEMENT prenotazione ANY>
<!ATTLIST prenotazione id ID #REQUIRED>
<!ELEMENT specialita ANY>
<!ATTLIST specialita id ID #REQUIRED>
]>
<root id="-1">
  <homeDT id="1053" key="52b92546-1d03-4c75-b248-f5eed88ada8e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-11-02T22:15:53" updateDate="2017-05-16T22:20:37" nodeName="Home" urlName="home" path="-1,1053" isDoc="" nodeType="1052" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1051" nodeTypeAlias="homeDT">
    <banner><![CDATA[1121,1120,1119,1122]]></banner>
    <bannerXs><![CDATA[1158,1159,1160,1155]]></bannerXs>
    <chiSiamo id="1056" key="51eb411e-cc95-45be-ba30-936035df13cf" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2016-11-15T19:15:36" updateDate="2017-05-27T00:18:02" nodeName="Chi Siamo" urlName="chi-siamo" path="-1,1053,1056" isDoc="" nodeType="1055" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1054" nodeTypeAlias="chiSiamo">
      <descrizione><![CDATA[<div class="title">
<p style="text-align: justify;"><u>L’Osteria Le Bocce</u>, gestito da Pietro e Franco è stato inaugurato a Valmadrera il 15 ottobre 2014. Il ristorante si trova a Valmadrera in via Trieste 1, parallela della strada principale, via Roma, nel centro del paese.</p>
<p style="text-align: justify;">Il locale è privo di barriere architettoniche in quanto è munito di un ingresso con montascale per persone diversamente abili ed è strutturato su due piani: il primo con 80 posti al coperto ed un ampio terrazzo, mentre il secondo con un grande salone, servizi ed angolo bar, attrezzato con impianto di luci stroboscopiche, può essere utilizzato per eventi speciali su prenotazione.</p>
<p style="text-align: justify;">A sabati alternati organizziamo l’evento “MUSICA IN TAVOLA”: cena alla carta con musica dal vivo e karaoke!</p>
<p style="text-align: justify;">La cucina segue la tradizione mediterranea con:</p>
<ul style="text-align: justify;">
<li>vari primi, carne e pesce</li>
<li>la pizza è disponibile con impasto classico, kamut, integralBianco (molto consigliata per chi soffre di diabete) e anche senza glutine.</li>
<li>i nostri inimitabili panini fatti, cotti e farciti al momento, anch’essi disponibili con impasto classico, kamut e intregralBianco</li>
</ul>
<p style="text-align: justify;">Non perdete l’occasione di provare i nostri piatti!</p>
<span class="byline"></span></div>]]></descrizione>
      <bannerXs><![CDATA[1154]]></bannerXs>
      <banner><![CDATA[1109]]></banner>
    </chiSiamo>
    <leNostreSpecialita id="1092" key="5fdb94e1-d762-4d23-ab9d-10d8df2cf78f" parentID="1053" level="2" creatorID="0" sortOrder="1" createDate="2016-11-30T22:32:05" updateDate="2017-05-27T00:18:40" nodeName="Le Nostre Specialità" urlName="le-nostre-specialità" path="-1,1053,1092" isDoc="" nodeType="1088" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1087" nodeTypeAlias="leNostreSpecialita">
      <descrizione><![CDATA[L’Osteria Le Bocce offre un gran numero di pietanze anche SENZA GLUTINE, a partire dagli antipasti fino ad arrivare ai dessert. I vari impasti delle pizze e dei panini sono preparati direttamente dai nostri pizzaioli, cosi come alcuni tipi di pasta e qualche dessert. Qui di seguito trovate le nostre specialità nel dettaglio.]]></descrizione>
      <banner><![CDATA[1123]]></banner>
      <bannerXs><![CDATA[1162]]></bannerXs>
      <specialita id="1104" key="82e57344-a0f4-45d5-9606-d4fa1ef4288f" parentID="1092" level="3" creatorID="0" sortOrder="0" createDate="2017-02-22T00:35:20" updateDate="2017-05-27T00:47:08" nodeName="Le Pizze" urlName="le-pizze" path="-1,1053,1092,1104" isDoc="" nodeType="1097" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1096" nodeTypeAlias="specialita">
        <immagini><![CDATA[1176]]></immagini>
        <banner><![CDATA[1121]]></banner>
        <bannerXs><![CDATA[1159]]></bannerXs>
        <descrizioneSpecialita><![CDATA[<p style="text-align: center;">Le nostre pizze possono essere degustate con tre tipi di impasto, oltre a quello normale, che sono:</p>
<p style="text-align: center;"><strong>Kamut</strong> di cui la farina ha un chiaro vantaggio rispetto a quella del frumento comune perché ricca di proteine, zinco, magnesio e vitamina E.</p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><strong>IntegralBianco</strong> consigliata per prevenire alcune malattie metaboliche, soprattutto il diabete, con tutti i benefici dell’impasto integrale</p>
<p style="text-align: center;"><strong> </strong></p>
<p style="text-align: center;"><strong>Senza glutine</strong> per chi soffre di celiachia</p>
<p style="text-align: center;"><br /> Il nostro menù comprende una vasta scelta di pizze, ognuna delle quali può essere preparata con ciascun tipo di impasto. Gli ingredienti sono freschi, genuini, ma soprattutto del nostro territorio! Cliccando il bottone qui sotto per vedere il menù delle pizze.</p>]]></descrizioneSpecialita>
      </specialita>
      <specialita id="1105" key="07fbdf3f-5291-4a8b-bc78-798ff1236a3b" parentID="1092" level="3" creatorID="0" sortOrder="1" createDate="2017-02-22T23:20:58" updateDate="2017-05-27T00:47:22" nodeName="I Panini" urlName="i-panini" path="-1,1053,1092,1105" isDoc="" nodeType="1097" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1096" nodeTypeAlias="specialita">
        <immagini><![CDATA[1179]]></immagini>
        <banner><![CDATA[1120]]></banner>
        <bannerXs><![CDATA[1158]]></bannerXs>
        <descrizioneSpecialita><![CDATA[<p style="text-align: center;">Una delle creazioni di cui andiamo più fieri sono i nostri panini: fatti al momento con lo stesso impasto della pizza, farciti con ingredienti freschi e genuini e cotti nel forno della pizza! Possono essere richiesti con impasto classico, kamut o integralBianco. Cliccando il bottone qui sotto troverete la nostra lista di panini con relativi prezzi</p>]]></descrizioneSpecialita>
      </specialita>
      <specialita id="1106" key="25e56824-b316-4021-b613-43486a188d7a" parentID="1092" level="3" creatorID="0" sortOrder="2" createDate="2017-02-22T23:21:15" updateDate="2017-05-27T00:47:31" nodeName="La Cucina" urlName="la-cucina" path="-1,1053,1092,1106" isDoc="" nodeType="1097" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1096" nodeTypeAlias="specialita">
        <immagini><![CDATA[1177]]></immagini>
        <banner><![CDATA[1122]]></banner>
        <bannerXs><![CDATA[1160]]></bannerXs>
        <descrizioneSpecialita><![CDATA[<p style="text-align: center;">Le pietanze della nostra cucina spaziano dalla carne al pesce e sono sempre accompagnate da un contorno a scelta. La preparazione dei nostri piatti si basa su ricette e tradizioni italiane: a partire dalle nozioni territoriali fino ad arrivare a quelle mediterranee, a seconda della portata scelta. Ovviamente i nostri piatti sono disponibili anche <strong>SENZA GLUTINE</strong> per persone che soffrono di celiachia</p>]]></descrizioneSpecialita>
      </specialita>
      <specialita id="1107" key="2846d19c-4a9c-494c-a7bb-c53530432fa9" parentID="1092" level="3" creatorID="0" sortOrder="3" createDate="2017-02-22T23:21:38" updateDate="2017-05-27T00:47:41" nodeName="I Desserts" urlName="i-desserts" path="-1,1053,1092,1107" isDoc="" nodeType="1097" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1096" nodeTypeAlias="specialita">
        <immagini><![CDATA[1178]]></immagini>
        <banner><![CDATA[1119]]></banner>
        <bannerXs><![CDATA[1155]]></bannerXs>
        <descrizioneSpecialita><![CDATA[<p style="text-align: center;">La stragrande maggioranza dei nostri dessert arriva dalla bellissima costiera Amalfitana, direttamente dal laboratorio di Salvatore De Riso. La pastiera napoletana, la delizia al limone e la foresta nera sono solo alcune delle specialità partenopee che fanno parte della nostra lista dei dolci.</p>
<p style="text-align: center;">Inoltre abbiamo anche dei dessert fatti in casa come il tiramisù (anche <strong>SENZA GLUTINE</strong>), il sorbetto al limone e il nostro gustosissimo sorbetto al Braulio che viene preparato appena prima di essere portato al tavolo.</p>]]></descrizioneSpecialita>
      </specialita>
    </leNostreSpecialita>
    <menu id="1060" key="2813b4b1-8c4e-4584-b6d8-54d5e72e3e95" parentID="1053" level="2" creatorID="0" sortOrder="2" createDate="2016-11-17T19:00:09" updateDate="2017-05-16T22:21:24" nodeName="Menu" urlName="menu" path="-1,1053,1060" isDoc="" nodeType="1059" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1058" nodeTypeAlias="menu">
      <banner><![CDATA[1124]]></banner>
      <descrizione><![CDATA[<p><strong>Lorem Ipsum</strong><span> è un testo segnaposto utilizzato nel settore della tipografia e della stampa. </span><span style="text-decoration: underline;">Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo</span><span>, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato.</span></p>]]></descrizione>
      <bannerXs><![CDATA[1157]]></bannerXs>
      <menuSingolo id="1073" key="c214fc4f-69d0-451c-b220-457a37fa6490" parentID="1060" level="3" creatorID="0" sortOrder="0" createDate="2016-11-17T21:53:01" updateDate="2017-05-18T23:21:01" nodeName="Menù del Giorno" urlName="menù-del-giorno" path="-1,1053,1060,1073" isDoc="" nodeType="1069" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1068" nodeTypeAlias="menuSingolo">
        <contorni><![CDATA[Patate prezzemolate
Insalata verde
Spinaci al burro]]></contorni>
        <caffe>0</caffe>
        <digestivo>0</digestivo>
        <primi><![CDATA[Pasta alla contadina
Pasta al ragù
Pasta alla ligure]]></primi>
        <secondi><![CDATA[Carpaccio di magatello
Saltimbocca a modo mio
Insalata nizzarda]]></secondi>
        <piattoDelGiorno><![CDATA[Scaloppe primaverili con contorno]]></piattoDelGiorno>
        <validoDa>2016-11-17T00:00:00</validoDa>
        <finoA>2016-11-30T00:00:00</finoA>
        <descrizione><![CDATA[<p style="text-align: justify;">Ogni giorno un menù veloce, gustoso e completo con scelta anche tra pizze e i nostri panini per un soddisfare tutti i palati, a partire da 7€ fino a 12€</p>]]></descrizione>
        <menuDelGiorno>1</menuDelGiorno>
        <bannerXs><![CDATA[1172]]></bannerXs>
        <banner><![CDATA[1173]]></banner>
      </menuSingolo>
    </menu>
    <eventi id="1081" key="69aa4d3d-e8ac-4db8-87bc-93944a4f7236" parentID="1053" level="2" creatorID="0" sortOrder="3" createDate="2016-11-21T18:57:57" updateDate="2017-05-16T22:21:56" nodeName="Eventi" urlName="eventi" path="-1,1053,1081" isDoc="" nodeType="1080" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1079" nodeTypeAlias="eventi">
      <banner><![CDATA[1125]]></banner>
      <bannerXs><![CDATA[1156]]></bannerXs>
    </eventi>
    <contattaci id="1091" key="e6c0dff2-42c9-43f3-ae03-56ebd449e6e6" parentID="1053" level="2" creatorID="0" sortOrder="4" createDate="2016-11-30T22:31:48" updateDate="2017-05-16T23:19:08" nodeName="Contattaci" urlName="contattaci" path="-1,1053,1091" isDoc="" nodeType="1090" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1089" nodeTypeAlias="contattaci">
      <comeRaggiungerci><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat nisi sed libero dignissim condimentum. Phasellus ante odio, ornare vel convallis id, venenatis a sapien. Maecenas hendrerit quis elit vitae aliquam. Nam maximus eros mauris, et tincidunt sem semper nec. Praesent lacinia imperdiet turpis, in auctor velit maximus eu. Mauris purus leo, euismod quis cursus at, tempor nec mauris. Suspendisse eu suscipit velit.</p>
<p>Aliquam nisi leo, consectetur vel erat vel, facilisis interdum eros. Duis ornare tortor semper, pellentesque dui vel, blandit odio. Donec nibh felis, accumsan cursus ante quis, elementum tincidunt nibh. Nullam placerat ipsum vel turpis consequat porttitor. Morbi maximus hendrerit risus, at ornare nulla scelerisque dictum. Proin iaculis vulputate purus, vel venenatis quam vulputate vel. Cras non ligula dolor. Phasellus lobortis congue sagittis. Morbi ut mollis diam.</p>
<p>Phasellus dolor tortor, ultricies sit amet risus sit amet, feugiat suscipit diam. Nam et rhoncus libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum mauris ex, mattis et elit ac, mattis pellentesque ante. Praesent nisl enim, consectetur eget nibh sit amet, bibendum dictum erat. Nulla sagittis non nulla sit amet condimentum. Aliquam lacinia viverra fermentum. Sed nibh sapien, euismod non nibh ut, auctor fermentum ligula.</p>]]></comeRaggiungerci>
      <bannerXs><![CDATA[1165]]></bannerXs>
      <banner><![CDATA[1167]]></banner>
    </contattaci>
    <prenotazione id="1095" key="d8e67c55-1694-4720-b4bb-2b6c9361640c" parentID="1053" level="2" creatorID="0" sortOrder="5" createDate="2017-01-12T23:18:49" updateDate="2017-05-20T00:17:55" nodeName="Prenota Online!" urlName="prenota-online" path="-1,1053,1095" isDoc="" nodeType="1094" creatorName="Osteria Le Bocce" writerName="Osteria Le Bocce" writerID="0" template="1093" nodeTypeAlias="prenotazione">
      <banner><![CDATA[1175]]></banner>
      <bannerXs><![CDATA[1174]]></bannerXs>
    </prenotazione>
  </homeDT>
</root>